<div class="cord-body">

  <div class="card-form">
    <form #clienteForm="ngForm">
      <h2 class="h3 mb-3 fw-normal">Actualizar cliente</h2>
      <br>

      <mat-form-field class="w-100" appearance="fill">
          <mat-label>Nombre </mat-label>
          <input 
          matInput 
          type= "text" class="form-control" required maxlength="255"
          [(ngModel)]="editClienteForm.nombres" name="nombres" #nombres="ngModel">
          <mat-error *ngIf="nombres.errors && isSubmitted && nombres?.errors?.['required']">
            El nombre es requerido
          </mat-error>
        </mat-form-field>

        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Apellidos </mat-label>
          <input 
          matInput 
          type= "text" class="form-control" required maxlength="255"
          [(ngModel)]="editClienteForm.apellidos" name="apellidos" #apellidos="ngModel">
          <mat-error *ngIf="apellidos.errors && isSubmitted && apellidos?.errors?.['required']">
            El Apellido es requerido
          </mat-error>
        </mat-form-field>

        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Email </mat-label>
          <input 
          matInput 
          type= "text" class="form-control" required maxlength="255"
          [(ngModel)]="editClienteForm.email" name="email" #email="ngModel"
          pattern="^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z0-9]{2,3}$">
          <mat-error *ngIf="email.errors && isSubmitted && email?.errors?.['required']">
            El correo electrónico es requerido
          </mat-error>
          <mat-error *ngIf="email.errors && isSubmitted && !email?.errors?.['touched'] && email?.errors?.['pattern']">
            El correo electrónico es invalido
          </mat-error>

        </mat-form-field>

        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Direccion </mat-label>
          <input 
          matInput 
          type= "text" class="form-control" required maxlength="255"
          [(ngModel)]="editClienteForm.direccion" name="direccion" #direccion="ngModel">
          <mat-error *ngIf="direccion.errors && isSubmitted && direccion?.errors?.['required']">
            La Direccion es requerido
          </mat-error>
        </mat-form-field>

        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Celular </mat-label>
          <input 
          matInput 
          type= "text" class="form-control" required 
          [(ngModel)]="editClienteForm.celular" name="celular" #celular="ngModel"
          maxlength="10" pattern="^\d{3}\d{3}\d{3}$">
          <mat-error *ngIf="celular.errors && isSubmitted && celular?.errors?.['required']">
            El Celular es requerido
          </mat-error>
          <mat-error *ngIf="celular.errors && isSubmitted && !celular?.errors?.['touched'] && celular?.errors?.['pattern']">
            El Celular es invalido
          </mat-error>
        </mat-form-field>

        <br>
        <button class="w-auto" mat-raised-button mat-button color="primary" type="button" (click)="EditData(clienteForm.form.valid)">Enviar</button>
      </form>
  </div>
</div>


